/* global */

:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;

    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7fc2ff;
}


body {
  /* margin: 0 auto;
  max-width: 50rem;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4rem 1rem;
  color: #555; */
  background:#333;
  padding:0;
  margin:0;
  overflow:hidden;
}

* {
  box-sizing: border-box;
}

.game-container{
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px solid #fff;
  margin: 0 auto;

  transform: scale(3) translateY(50%);

}

.game-container canvas {
  image-rendering: pixelated;
}

